h1{font-family: Arial;
    color:palevioletred}
body{background-color: wheat}
body{margin: 1%;padding: 1em;}
#top{text-align: center;}
div{margin: 2em;}
div#first{padding-block:;}
img{align:right;}